@media (max-width:320px) {
    h2 {
        text-align: center;
        margin: 0 0 1rem 0;
        padding: 0 1rem;
    }
    .box-previl {
        width: 100%;
    }
    #generetor-box-shadow {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #controls-container {
        width: 100%;
        padding: 8px;
    }
    .box {
        width: 150px;
        height: 150px;
    }
}

@media (max-width:780px) {
    #generetor-box-shadow {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

    }
    .box {
        width: 250px;
        height: 250px;
        margin-bottom: 4rem;
    }
}
